<tr>
									<td class="action"><input type="checkbox" /></td>
									<td class="action"><i class="fa fa-star-o"></i></td>
									<td class="action"><i class="fa fa-bookmark-o"></i></td>
									<td class="name"><a href="#"><td><%= email.object %></td></a></td>
									<td class="subject"><a href="#"><td><%= email.body %></td></a></td><tr>"<%=email.object%>"</tr>
<tr>"<%=email.body%>"</tr>
