

<p><font size="+2">
  <strong>Object:</strong>
  <%= @email.object %>
</font></p>

<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
